<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>asteroid.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>311</real>
			<key>width</key>
			<real>980</real>
			<key>height</key>
			<real>39</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>984</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>baddie-1.png</key>
		<dict>
			<key>x</key>
			<real>166</real>
			<key>y</key>
			<real>2</real>
			<key>width</key>
			<real>650</real>
			<key>height</key>
			<real>41</real>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>656</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>baddie-2.png</key>
		<dict>
			<key>x</key>
			<real>166</real>
			<key>y</key>
			<real>45</real>
			<key>width</key>
			<real>650</real>
			<key>height</key>
			<real>41</real>
			<key>offsetX</key>
			<real>-3</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>656</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>baddie-teleport-1.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>268</real>
			<key>width</key>
			<real>610</real>
			<key>height</key>
			<real>41</real>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>656</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>baddie-teleport-2.png</key>
		<dict>
			<key>x</key>
			<real>166</real>
			<key>y</key>
			<real>88</real>
			<key>width</key>
			<real>616</real>
			<key>height</key>
			<real>41</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>656</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>baddie-teleport-3.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>393</real>
			<key>width</key>
			<real>618</real>
			<key>height</key>
			<real>39</real>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>656</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>baddie-teleport-4.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>352</real>
			<key>width</key>
			<real>632</real>
			<key>height</key>
			<real>39</real>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>656</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>bonus-bullet.png</key>
		<dict>
			<key>x</key>
			<real>800</real>
			<key>y</key>
			<real>352</real>
			<key>width</key>
			<real>162</real>
			<key>height</key>
			<real>39</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>164</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>bonus-shield.png</key>
		<dict>
			<key>x</key>
			<real>636</real>
			<key>y</key>
			<real>352</real>
			<key>width</key>
			<real>162</real>
			<key>height</key>
			<real>39</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>164</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>boxes.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>473</real>
			<key>width</key>
			<real>493</real>
			<key>height</key>
			<real>33</real>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>495</real>
			<key>originalHeight</key>
			<real>33</real>
		</dict>
		
		<key>debris-base.png</key>
		<dict>
			<key>x</key>
			<real>614</real>
			<key>y</key>
			<real>268</real>
			<key>width</key>
			<real>286</real>
			<key>height</key>
			<real>36</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>288</real>
			<key>originalHeight</key>
			<real>36</real>
		</dict>
		
		<key>debris-bubble.png</key>
		<dict>
			<key>x</key>
			<real>410</real>
			<key>y</key>
			<real>131</real>
			<key>width</key>
			<real>120</real>
			<key>height</key>
			<real>15</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>120</real>
			<key>originalHeight</key>
			<real>15</real>
		</dict>
		
		<key>debris-motor.png</key>
		<dict>
			<key>x</key>
			<real>718</real>
			<key>y</key>
			<real>449</real>
			<key>width</key>
			<real>98</real>
			<key>height</key>
			<real>13</real>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>104</real>
			<key>originalHeight</key>
			<real>13</real>
		</dict>
		
		<key>debris1.png</key>
		<dict>
			<key>x</key>
			<real>718</real>
			<key>y</key>
			<real>434</real>
			<key>width</key>
			<real>104</real>
			<key>height</key>
			<real>13</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>104</real>
			<key>originalHeight</key>
			<real>13</real>
		</dict>
		
		<key>debris2.png</key>
		<dict>
			<key>x</key>
			<real>638</real>
			<key>y</key>
			<real>131</real>
			<key>width</key>
			<real>104</real>
			<key>height</key>
			<real>13</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>104</real>
			<key>originalHeight</key>
			<real>13</real>
		</dict>
		
		<key>debris3.png</key>
		<dict>
			<key>x</key>
			<real>824</real>
			<key>y</key>
			<real>434</real>
			<key>width</key>
			<real>102</real>
			<key>height</key>
			<real>13</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>104</real>
			<key>originalHeight</key>
			<real>13</real>
		</dict>
		
		<key>debris4.png</key>
		<dict>
			<key>x</key>
			<real>532</real>
			<key>y</key>
			<real>131</real>
			<key>width</key>
			<real>104</real>
			<key>height</key>
			<real>13</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>104</real>
			<key>originalHeight</key>
			<real>13</real>
		</dict>
		
		<key>explosion.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>162</real>
			<key>width</key>
			<real>958</real>
			<key>height</key>
			<real>61</real>
			<key>offsetX</key>
			<real>9</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>976</real>
			<key>originalHeight</key>
			<real>61</real>
		</dict>
		
		<key>fire.png</key>
		<dict>
			<key>x</key>
			<real>166</real>
			<key>y</key>
			<real>131</real>
			<key>width</key>
			<real>242</real>
			<key>height</key>
			<real>29</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>248</real>
			<key>originalHeight</key>
			<real>31</real>
		</dict>
		
		<key>shielder.png</key>
		<dict>
			<key>x</key>
			<real>744</real>
			<key>y</key>
			<real>131</real>
			<key>width</key>
			<real>37</real>
			<key>height</key>
			<real>13</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>39</real>
			<key>originalHeight</key>
			<real>13</real>
		</dict>
		
		<key>ship-down-boost1.png</key>
		<dict>
			<key>x</key>
			<real>782</real>
			<key>y</key>
			<real>393</real>
			<key>width</key>
			<real>158</real>
			<key>height</key>
			<real>37</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<real>164</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>ship-down-boost2.png</key>
		<dict>
			<key>x</key>
			<real>818</real>
			<key>y</key>
			<real>2</real>
			<key>width</key>
			<real>158</real>
			<key>height</key>
			<real>41</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>164</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>ship-left-boost1.png</key>
		<dict>
			<key>x</key>
			<real>88</real>
			<key>y</key>
			<real>2</real>
			<key>width</key>
			<real>37</real>
			<key>height</key>
			<real>158</real>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>41</real>
			<key>originalHeight</key>
			<real>164</real>
		</dict>
		
		<key>ship-left-boost2.png</key>
		<dict>
			<key>x</key>
			<real>45</real>
			<key>y</key>
			<real>2</real>
			<key>width</key>
			<real>41</real>
			<key>height</key>
			<real>158</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>41</real>
			<key>originalHeight</key>
			<real>164</real>
		</dict>
		
		<key>ship-mini-boost2.png</key>
		<dict>
			<key>x</key>
			<real>902</real>
			<key>y</key>
			<real>268</real>
			<key>width</key>
			<real>28</real>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>32</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>ship-right-boost1.png</key>
		<dict>
			<key>x</key>
			<real>127</real>
			<key>y</key>
			<real>2</real>
			<key>width</key>
			<real>37</real>
			<key>height</key>
			<real>158</real>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>41</real>
			<key>originalHeight</key>
			<real>164</real>
		</dict>
		
		<key>ship-right-boost2.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>2</real>
			<key>width</key>
			<real>41</real>
			<key>height</key>
			<real>158</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>41</real>
			<key>originalHeight</key>
			<real>164</real>
		</dict>
		
		<key>ship-teleport.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>225</real>
			<key>width</key>
			<real>974</real>
			<key>height</key>
			<real>41</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>984</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>ship-up-boost1.png</key>
		<dict>
			<key>x</key>
			<real>622</real>
			<key>y</key>
			<real>393</real>
			<key>width</key>
			<real>158</real>
			<key>height</key>
			<real>37</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<real>164</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>ship-up-boost2.png</key>
		<dict>
			<key>x</key>
			<real>818</real>
			<key>y</key>
			<real>45</real>
			<key>width</key>
			<real>158</real>
			<key>height</key>
			<real>41</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>164</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>ship-up.png</key>
		<dict>
			<key>x</key>
			<real>932</real>
			<key>y</key>
			<real>268</real>
			<key>width</key>
			<real>35</real>
			<key>height</key>
			<real>31</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>5</real>
			<key>originalWidth</key>
			<real>41</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>ship-warp.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>434</real>
			<key>width</key>
			<real>714</real>
			<key>height</key>
			<real>37</real>
			<key>offsetX</key>
			<real>7</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<real>732</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>spikeball.png</key>
		<dict>
			<key>x</key>
			<real>497</real>
			<key>y</key>
			<real>473</real>
			<key>width</key>
			<real>372</real>
			<key>height</key>
			<real>31</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>372</real>
			<key>originalHeight</key>
			<real>31</real>
		</dict>
		
	</dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
</dict>
</plist>