<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>asteroid1.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>235</real>
			<key>width</key>
			<real>684</real>
			<key>height</key>
			<real>57</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>684</real>
			<key>originalHeight</key>
			<real>57</real>
		</dict>
		
		<key>asteroid2.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>353</real>
			<key>width</key>
			<real>684</real>
			<key>height</key>
			<real>57</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>684</real>
			<key>originalHeight</key>
			<real>57</real>
		</dict>
		
		<key>baddie-1.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>589</real>
			<key>width</key>
			<real>920</real>
			<key>height</key>
			<real>57</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>920</real>
			<key>originalHeight</key>
			<real>57</real>
		</dict>
		
		<key>baddie-2.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>530</real>
			<key>width</key>
			<real>920</real>
			<key>height</key>
			<real>57</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>920</real>
			<key>originalHeight</key>
			<real>57</real>
		</dict>
		
		<key>baddie-teleport-1.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>471</real>
			<key>width</key>
			<real>920</real>
			<key>height</key>
			<real>57</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>920</real>
			<key>originalHeight</key>
			<real>57</real>
		</dict>
		
		<key>baddie-teleport-2.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>707</real>
			<key>width</key>
			<real>920</real>
			<key>height</key>
			<real>57</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>920</real>
			<key>originalHeight</key>
			<real>57</real>
		</dict>
		
		<key>baddie-teleport-3.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>648</real>
			<key>width</key>
			<real>920</real>
			<key>height</key>
			<real>57</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>920</real>
			<key>originalHeight</key>
			<real>57</real>
		</dict>
		
		<key>baddie-teleport-4.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>412</real>
			<key>width</key>
			<real>920</real>
			<key>height</key>
			<real>57</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>920</real>
			<key>originalHeight</key>
			<real>57</real>
		</dict>
		
		<key>bonus-bullet.png</key>
		<dict>
			<key>x</key>
			<real>688</real>
			<key>y</key>
			<real>235</real>
			<key>width</key>
			<real>228</real>
			<key>height</key>
			<real>57</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>228</real>
			<key>originalHeight</key>
			<real>57</real>
		</dict>
		
		<key>bonus-shield.png</key>
		<dict>
			<key>x</key>
			<real>684</real>
			<key>y</key>
			<real>89</real>
			<key>width</key>
			<real>228</real>
			<key>height</key>
			<real>57</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>228</real>
			<key>originalHeight</key>
			<real>57</real>
		</dict>
		
		<key>boxes.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>766</real>
			<key>width</key>
			<real>690</real>
			<key>height</key>
			<real>46</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>690</real>
			<key>originalHeight</key>
			<real>46</real>
		</dict>
		
		<key>debris-base.png</key>
		<dict>
			<key>x</key>
			<real>514</real>
			<key>y</key>
			<real>294</real>
			<key>width</key>
			<real>400</real>
			<key>height</key>
			<real>50</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>400</real>
			<key>originalHeight</key>
			<real>50</real>
		</dict>
		
		<key>debris-bubble.png</key>
		<dict>
			<key>x</key>
			<real>684</real>
			<key>y</key>
			<real>61</real>
			<key>width</key>
			<real>168</real>
			<key>height</key>
			<real>21</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>21</real>
		</dict>
		
		<key>debris-motor.png</key>
		<dict>
			<key>x</key>
			<real>736</real>
			<key>y</key>
			<real>783</real>
			<key>width</key>
			<real>144</real>
			<key>height</key>
			<real>18</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>144</real>
			<key>originalHeight</key>
			<real>18</real>
		</dict>
		
		<key>debris1.png</key>
		<dict>
			<key>x</key>
			<real>684</real>
			<key>y</key>
			<real>148</real>
			<key>width</key>
			<real>144</real>
			<key>height</key>
			<real>18</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>144</real>
			<key>originalHeight</key>
			<real>18</real>
		</dict>
		
		<key>debris2.png</key>
		<dict>
			<key>x</key>
			<real>688</real>
			<key>y</key>
			<real>353</real>
			<key>width</key>
			<real>144</real>
			<key>height</key>
			<real>18</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>144</real>
			<key>originalHeight</key>
			<real>18</real>
		</dict>
		
		<key>debris3.png</key>
		<dict>
			<key>x</key>
			<real>734</real>
			<key>y</key>
			<real>822</real>
			<key>width</key>
			<real>144</real>
			<key>height</key>
			<real>18</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>144</real>
			<key>originalHeight</key>
			<real>18</real>
		</dict>
		
		<key>debris4.png</key>
		<dict>
			<key>x</key>
			<real>688</real>
			<key>y</key>
			<real>373</real>
			<key>width</key>
			<real>144</real>
			<key>height</key>
			<real>18</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>144</real>
			<key>originalHeight</key>
			<real>18</real>
		</dict>
		
		<key>explosion1.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>2</real>
			<key>width</key>
			<real>680</real>
			<key>height</key>
			<real>85</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>680</real>
			<key>originalHeight</key>
			<real>85</real>
		</dict>
		
		<key>explosion2.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>89</real>
			<key>width</key>
			<real>680</real>
			<key>height</key>
			<real>85</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>680</real>
			<key>originalHeight</key>
			<real>85</real>
		</dict>
		
		<key>fire.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>977</real>
			<key>width</key>
			<real>344</real>
			<key>height</key>
			<real>43</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>344</real>
			<key>originalHeight</key>
			<real>43</real>
		</dict>
		
		<key>shielder.png</key>
		<dict>
			<key>x</key>
			<real>854</real>
			<key>y</key>
			<real>61</real>
			<key>width</key>
			<real>54</real>
			<key>height</key>
			<real>18</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>54</real>
			<key>originalHeight</key>
			<real>18</real>
		</dict>
		
		<key>ship-down-boost1.png</key>
		<dict>
			<key>x</key>
			<real>547</real>
			<key>y</key>
			<real>964</real>
			<key>width</key>
			<real>228</real>
			<key>height</key>
			<real>57</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>228</real>
			<key>originalHeight</key>
			<real>57</real>
		</dict>
		
		<key>ship-down-boost2.png</key>
		<dict>
			<key>x</key>
			<real>785</real>
			<key>y</key>
			<real>964</real>
			<key>width</key>
			<real>228</real>
			<key>height</key>
			<real>57</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>228</real>
			<key>originalHeight</key>
			<real>57</real>
		</dict>
		
		<key>ship-left-boost1.png</key>
		<dict>
			<key>x</key>
			<real>958</real>
			<key>y</key>
			<real>731</real>
			<key>width</key>
			<real>57</real>
			<key>height</key>
			<real>228</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>57</real>
			<key>originalHeight</key>
			<real>228</real>
		</dict>
		
		<key>ship-left-boost2.png</key>
		<dict>
			<key>x</key>
			<real>954</real>
			<key>y</key>
			<real>497</real>
			<key>width</key>
			<real>57</real>
			<key>height</key>
			<real>228</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>57</real>
			<key>originalHeight</key>
			<real>228</real>
		</dict>
		
		<key>ship-mini-boost2.png</key>
		<dict>
			<key>x</key>
			<real>808</real>
			<key>y</key>
			<real>869</real>
			<key>width</key>
			<real>45</real>
			<key>height</key>
			<real>45</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>45</real>
			<key>originalHeight</key>
			<real>45</real>
		</dict>
		
		<key>ship-right-boost1.png</key>
		<dict>
			<key>x</key>
			<real>964</real>
			<key>y</key>
			<real>10</real>
			<key>width</key>
			<real>57</real>
			<key>height</key>
			<real>228</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>57</real>
			<key>originalHeight</key>
			<real>228</real>
		</dict>
		
		<key>ship-right-boost2.png</key>
		<dict>
			<key>x</key>
			<real>961</real>
			<key>y</key>
			<real>253</real>
			<key>width</key>
			<real>57</real>
			<key>height</key>
			<real>228</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>57</real>
			<key>originalHeight</key>
			<real>228</real>
		</dict>
		
		<key>ship-teleport1.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>176</real>
			<key>width</key>
			<real>684</real>
			<key>height</key>
			<real>57</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>684</real>
			<key>originalHeight</key>
			<real>57</real>
		</dict>
		
		<key>ship-teleport2.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>814</real>
			<key>width</key>
			<real>684</real>
			<key>height</key>
			<real>57</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>684</real>
			<key>originalHeight</key>
			<real>57</real>
		</dict>
		
		<key>ship-up-boost1.png</key>
		<dict>
			<key>x</key>
			<real>684</real>
			<key>y</key>
			<real>2</real>
			<key>width</key>
			<real>228</real>
			<key>height</key>
			<real>57</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>228</real>
			<key>originalHeight</key>
			<real>57</real>
		</dict>
		
		<key>ship-up-boost2.png</key>
		<dict>
			<key>x</key>
			<real>688</real>
			<key>y</key>
			<real>176</real>
			<key>width</key>
			<real>228</real>
			<key>height</key>
			<real>57</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>228</real>
			<key>originalHeight</key>
			<real>57</real>
		</dict>
		
		<key>ship-up.png</key>
		<dict>
			<key>x</key>
			<real>710</real>
			<key>y</key>
			<real>870</real>
			<key>width</key>
			<real>57</real>
			<key>height</key>
			<real>57</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>57</real>
			<key>originalHeight</key>
			<real>57</real>
		</dict>
		
		<key>ship-warp1.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>294</real>
			<key>width</key>
			<real>510</real>
			<key>height</key>
			<real>57</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>510</real>
			<key>originalHeight</key>
			<real>57</real>
		</dict>
		
		<key>ship-warp2.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>918</real>
			<key>width</key>
			<real>510</real>
			<key>height</key>
			<real>57</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>510</real>
			<key>originalHeight</key>
			<real>57</real>
		</dict>
		
		<key>spikeball.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>873</real>
			<key>width</key>
			<real>516</real>
			<key>height</key>
			<real>43</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>516</real>
			<key>originalHeight</key>
			<real>43</real>
		</dict>
		
	</dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
</dict>
</plist>