<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>asteroid.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>65</real>
			<key>width</key>
			<real>984</real>
			<key>height</key>
			<real>41</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>984</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>baddie-1.png</key>
		<dict>
			<key>x</key>
			<real>59</real>
			<key>y</key>
			<real>280</real>
			<key>width</key>
			<real>656</real>
			<key>height</key>
			<real>41</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>656</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>baddie-2.png</key>
		<dict>
			<key>x</key>
			<real>59</real>
			<key>y</key>
			<real>323</real>
			<key>width</key>
			<real>656</real>
			<key>height</key>
			<real>41</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>656</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>baddie-teleport-1.png</key>
		<dict>
			<key>x</key>
			<real>59</real>
			<key>y</key>
			<real>194</real>
			<key>width</key>
			<real>656</real>
			<key>height</key>
			<real>41</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>656</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>baddie-teleport-2.png</key>
		<dict>
			<key>x</key>
			<real>59</real>
			<key>y</key>
			<real>366</real>
			<key>width</key>
			<real>656</real>
			<key>height</key>
			<real>41</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>656</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>baddie-teleport-3.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>753</real>
			<key>width</key>
			<real>656</real>
			<key>height</key>
			<real>41</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>656</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>baddie-teleport-4.png</key>
		<dict>
			<key>x</key>
			<real>59</real>
			<key>y</key>
			<real>237</real>
			<key>width</key>
			<real>656</real>
			<key>height</key>
			<real>41</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>656</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>bonus-bullet.png</key>
		<dict>
			<key>x</key>
			<real>845</real>
			<key>y</key>
			<real>796</real>
			<key>width</key>
			<real>164</real>
			<key>height</key>
			<real>41</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>164</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>bonus-shield.png</key>
		<dict>
			<key>x</key>
			<real>717</real>
			<key>y</key>
			<real>237</real>
			<key>width</key>
			<real>164</real>
			<key>height</key>
			<real>41</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>164</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>cube_purple.png</key>
		<dict>
			<key>x</key>
			<real>59</real>
			<key>y</key>
			<real>514</real>
			<key>width</key>
			<real>396</real>
			<key>height</key>
			<real>33</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>396</real>
			<key>originalHeight</key>
			<real>33</real>
		</dict>
		
		<key>cube_purple_reverse.png</key>
		<dict>
			<key>x</key>
			<real>59</real>
			<key>y</key>
			<real>444</real>
			<key>width</key>
			<real>396</real>
			<key>height</key>
			<real>33</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>396</real>
			<key>originalHeight</key>
			<real>33</real>
		</dict>
		
		<key>cube_red.png</key>
		<dict>
			<key>x</key>
			<real>59</real>
			<key>y</key>
			<real>409</real>
			<key>width</key>
			<real>396</real>
			<key>height</key>
			<real>33</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>396</real>
			<key>originalHeight</key>
			<real>33</real>
		</dict>
		
		<key>cube_red_reverse.png</key>
		<dict>
			<key>x</key>
			<real>59</real>
			<key>y</key>
			<real>479</real>
			<key>width</key>
			<real>396</real>
			<key>height</key>
			<real>33</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>396</real>
			<key>originalHeight</key>
			<real>33</real>
		</dict>
		
		<key>debris-base.png</key>
		<dict>
			<key>x</key>
			<real>660</real>
			<key>y</key>
			<real>753</real>
			<key>width</key>
			<real>288</real>
			<key>height</key>
			<real>36</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>288</real>
			<key>originalHeight</key>
			<real>36</real>
		</dict>
		
		<key>debris-bubble.png</key>
		<dict>
			<key>x</key>
			<real>231</real>
			<key>y</key>
			<real>582</real>
			<key>width</key>
			<real>120</real>
			<key>height</key>
			<real>15</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>120</real>
			<key>originalHeight</key>
			<real>15</real>
		</dict>
		
		<key>debris-motor.png</key>
		<dict>
			<key>x</key>
			<real>231</real>
			<key>y</key>
			<real>614</real>
			<key>width</key>
			<real>104</real>
			<key>height</key>
			<real>13</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>104</real>
			<key>originalHeight</key>
			<real>13</real>
		</dict>
		
		<key>debris1.png</key>
		<dict>
			<key>x</key>
			<real>231</real>
			<key>y</key>
			<real>629</real>
			<key>width</key>
			<real>104</real>
			<key>height</key>
			<real>13</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>104</real>
			<key>originalHeight</key>
			<real>13</real>
		</dict>
		
		<key>debris2.png</key>
		<dict>
			<key>x</key>
			<real>231</real>
			<key>y</key>
			<real>644</real>
			<key>width</key>
			<real>104</real>
			<key>height</key>
			<real>13</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>104</real>
			<key>originalHeight</key>
			<real>13</real>
		</dict>
		
		<key>debris3.png</key>
		<dict>
			<key>x</key>
			<real>231</real>
			<key>y</key>
			<real>599</real>
			<key>width</key>
			<real>104</real>
			<key>height</key>
			<real>13</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>104</real>
			<key>originalHeight</key>
			<real>13</real>
		</dict>
		
		<key>debris4.png</key>
		<dict>
			<key>x</key>
			<real>231</real>
			<key>y</key>
			<real>659</real>
			<key>width</key>
			<real>104</real>
			<key>height</key>
			<real>13</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>104</real>
			<key>originalHeight</key>
			<real>13</real>
		</dict>
		
		<key>explosion.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>2</real>
			<key>width</key>
			<real>976</real>
			<key>height</key>
			<real>61</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>976</real>
			<key>originalHeight</key>
			<real>61</real>
		</dict>
		
		<key>fire.png</key>
		<dict>
			<key>x</key>
			<real>457</real>
			<key>y</key>
			<real>409</real>
			<key>width</key>
			<real>248</real>
			<key>height</key>
			<real>31</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>248</real>
			<key>originalHeight</key>
			<real>31</real>
		</dict>
		
		<key>pause_button.png</key>
		<dict>
			<key>x</key>
			<real>717</real>
			<key>y</key>
			<real>323</real>
			<key>width</key>
			<real>79</real>
			<key>height</key>
			<real>76</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>79</real>
			<key>originalHeight</key>
			<real>76</real>
		</dict>
		
		<key>power_up_fireballs.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>796</real>
			<key>width</key>
			<real>675</real>
			<key>height</key>
			<real>25</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>675</real>
			<key>originalHeight</key>
			<real>25</real>
		</dict>
		
		<key>power_up_shields.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>823</real>
			<key>width</key>
			<real>675</real>
			<key>height</key>
			<real>25</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>675</real>
			<key>originalHeight</key>
			<real>25</real>
		</dict>
		
		<key>power_up_timer.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>850</real>
			<key>width</key>
			<real>675</real>
			<key>height</key>
			<real>25</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>675</real>
			<key>originalHeight</key>
			<real>25</real>
		</dict>
		
		<key>shielder.png</key>
		<dict>
			<key>x</key>
			<real>980</real>
			<key>y</key>
			<real>45</real>
			<key>width</key>
			<real>39</real>
			<key>height</key>
			<real>13</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>39</real>
			<key>originalHeight</key>
			<real>13</real>
		</dict>
		
		<key>ship-down-boost1.png</key>
		<dict>
			<key>x</key>
			<real>793</real>
			<key>y</key>
			<real>151</real>
			<key>width</key>
			<real>164</real>
			<key>height</key>
			<real>41</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>164</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>ship-down-boost2.png</key>
		<dict>
			<key>x</key>
			<real>679</real>
			<key>y</key>
			<real>796</real>
			<key>width</key>
			<real>164</real>
			<key>height</key>
			<real>41</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>164</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>ship-left-boost1.png</key>
		<dict>
			<key>x</key>
			<real>102</real>
			<key>y</key>
			<real>582</real>
			<key>width</key>
			<real>41</real>
			<key>height</key>
			<real>164</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>41</real>
			<key>originalHeight</key>
			<real>164</real>
		</dict>
		
		<key>ship-left-boost2.png</key>
		<dict>
			<key>x</key>
			<real>59</real>
			<key>y</key>
			<real>582</real>
			<key>width</key>
			<real>41</real>
			<key>height</key>
			<real>164</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>41</real>
			<key>originalHeight</key>
			<real>164</real>
		</dict>
		
		<key>ship-mini-boost2.png</key>
		<dict>
			<key>x</key>
			<real>988</real>
			<key>y</key>
			<real>65</real>
			<key>width</key>
			<real>32</real>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>32</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>ship-right-boost1.png</key>
		<dict>
			<key>x</key>
			<real>188</real>
			<key>y</key>
			<real>582</real>
			<key>width</key>
			<real>41</real>
			<key>height</key>
			<real>164</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>41</real>
			<key>originalHeight</key>
			<real>164</real>
		</dict>
		
		<key>ship-right-boost2.png</key>
		<dict>
			<key>x</key>
			<real>145</real>
			<key>y</key>
			<real>582</real>
			<key>width</key>
			<real>41</real>
			<key>height</key>
			<real>164</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>41</real>
			<key>originalHeight</key>
			<real>164</real>
		</dict>
		
		<key>ship-teleport.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>108</real>
			<key>width</key>
			<real>984</real>
			<key>height</key>
			<real>41</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>984</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>ship-up-boost1.png</key>
		<dict>
			<key>x</key>
			<real>717</real>
			<key>y</key>
			<real>280</real>
			<key>width</key>
			<real>164</real>
			<key>height</key>
			<real>41</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>164</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>ship-up-boost2.png</key>
		<dict>
			<key>x</key>
			<real>717</real>
			<key>y</key>
			<real>194</real>
			<key>width</key>
			<real>164</real>
			<key>height</key>
			<real>41</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>164</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>ship-up.png</key>
		<dict>
			<key>x</key>
			<real>980</real>
			<key>y</key>
			<real>2</real>
			<key>width</key>
			<real>41</real>
			<key>height</key>
			<real>41</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>41</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>ship-warp.png</key>
		<dict>
			<key>x</key>
			<real>59</real>
			<key>y</key>
			<real>151</real>
			<key>width</key>
			<real>732</real>
			<key>height</key>
			<real>41</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>732</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>spikeball.png</key>
		<dict>
			<key>x</key>
			<real>59</real>
			<key>y</key>
			<real>549</real>
			<key>width</key>
			<real>372</real>
			<key>height</key>
			<real>31</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>372</real>
			<key>originalHeight</key>
			<real>31</real>
		</dict>
		
		<key>timer_bar.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>151</real>
			<key>width</key>
			<real>55</real>
			<key>height</key>
			<real>600</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>55</real>
			<key>originalHeight</key>
			<real>600</real>
		</dict>
		
	</dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
</dict>
</plist>